# ========================
# BUILD
# ========================
build/
target/
out/

# ========================
# GRADLE
# ========================
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# ========================
# LOGS
# ========================
*.log

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# IDEs
# ========================
.idea/
*.iml
.vscode/

# ========================
# ENVIRONMENT
# ========================
.env
.env.*

# ========================
# DOCKER
# ========================
docker-data/
*.pid

# ========================
# TEMP FILES
# ========================
*.tmp
*.swp

# ========================
# TEST OUTPUT
# ========================
coverage/

# ========================
# JAVA / SPRING
# ========================
*.class
*.jar
*.war

# ========================
# KUBERNETES (opcionales)
# ========================
*.kubeconfig

# ========================
# DATABASE LOCAL FILES
# ========================
*.db